// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

.custom-nav {
  background-color: green;
  margin-bottom: none;
}

.splash {
  background: url('/assets/images/bookstore.jpg') no-repeat center center fixed;
  // background-repeat: no-repeat;

  // background-position: 50%;
  background-size: cover;
  height: 88vh;
  margin-top: -2.1rem;
}

.splash-text {
  text-align: center;
}
