// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

.custom-nav {
  background-color: green;
  margin-bottom: none;
}

.splash {
  margin: none;
  padding: none;
  display: inline;
}

.splash-image {
  max-width: 100%;
  margin-top: none;
}
