<div class="splash">
  <div class="splash-text">
    <h1>Welcome to Upshift</h1>
    <p>We're revolitionizing the way managers and employees schedule their shifts</p>
    <br>
    <p>By allowing employees to upvote which shifts they want to work, scheduling becomes more democratic and less time consuming for managers</p>
  </div>
</div>
